In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',None)
pd.set_option('display.max_row',None)
pd.set_option('display.expand_frame_repr',False)
pd.set_option('display.max_colwidth',None)

In [2]:
deliveries = pd.read_csv('deliveries.csv')
matches = pd.read_csv('matches.csv')

In [3]:
df=deliveries.copy()
mdf=matches.copy()

In [4]:
#df = df.astype({col: 'category' for col in df.select_dtypes(include='object').columns})
#mdf = mdf.astype({col: 'category' for col in df.select_dtypes(include='object').columns})

In [5]:
mdf.head()

       id   season        city        date match_type player_of_match                                       venue                        team1                        team2                  toss_winner toss_decision                       winner   result  result_margin  target_runs  target_overs super_over method    umpire1         umpire2
0  335982  2007/08   Bangalore  2008-04-18     League     BB McCullum                       M Chinnaswamy Stadium  Royal Challengers Bangalore        Kolkata Knight Riders  Royal Challengers Bangalore         field        Kolkata Knight Riders     runs          140.0        223.0          20.0          N    NaN  Asad Rauf     RE Koertzen
1  335983  2007/08  Chandigarh  2008-04-19     League      MEK Hussey  Punjab Cricket Association Stadium, Mohali              Kings XI Punjab          Chennai Super Kings          Chennai Super Kings           bat          Chennai Super Kings     runs           33.0        241.0          20.0          N    NaN  MR Benson      SL Shastri
2  335984  2007/08       Delhi  2008-04-19     League     MF Maharoof                            Feroz Shah Kotla             Delhi Daredevils             Rajasthan Royals             Rajasthan Royals           bat             Delhi Daredevils  wickets            9.0        130.0          20.0          N    NaN  Aleem Dar  GA Pratapkumar
3  335985  2007/08      Mumbai  2008-04-20     League      MV Boucher                            Wankhede Stadium               Mumbai Indians  Royal Challengers Bangalore               Mumbai Indians           bat  Royal Challengers Bangalore  wickets            5.0        166.0          20.0          N    NaN   SJ Davis       DJ Harper
4  335986  2007/08     Kolkata  2008-04-20     League       DJ Hussey                                Eden Gardens        Kolkata Knight Riders              Deccan Chargers              Deccan Chargers           bat        Kolkata Knight Riders  wickets            5.0        111.0          20.0          N    NaN  BF Bowden     K Hariharan

In [6]:
mdf.tail()

           id season       city        date   match_type  player_of_match                                                 venue                        team1                  team2          toss_winner toss_decision                 winner   result  result_margin  target_runs  target_overs super_over method                umpire1               umpire2
1090  1426307   2024  Hyderabad  2024-05-19       League  Abhishek Sharma  Rajiv Gandhi International Stadium, Uppal, Hyderabad                 Punjab Kings    Sunrisers Hyderabad         Punjab Kings           bat    Sunrisers Hyderabad  wickets            4.0        215.0          20.0          N    NaN            Nitin Menon             VK Sharma
1091  1426309   2024  Ahmedabad  2024-05-21  Qualifier 1         MA Starc                      Narendra Modi Stadium, Ahmedabad          Sunrisers Hyderabad  Kolkata Knight Riders  Sunrisers Hyderabad           bat  Kolkata Knight Riders  wickets            8.0        160.0          20.0          N    NaN           AK Chaudhary              R Pandit
1092  1426310   2024  Ahmedabad  2024-05-22   Eliminator         R Ashwin                      Narendra Modi Stadium, Ahmedabad  Royal Challengers Bengaluru       Rajasthan Royals     Rajasthan Royals         field       Rajasthan Royals  wickets            4.0        173.0          20.0          N    NaN  KN Ananthapadmanabhan  MV Saidharshan Kumar
1093  1426311   2024    Chennai  2024-05-24  Qualifier 2    Shahbaz Ahmed              MA Chidambaram Stadium, Chepauk, Chennai          Sunrisers Hyderabad       Rajasthan Royals     Rajasthan Royals         field    Sunrisers Hyderabad     runs           36.0        176.0          20.0          N    NaN            Nitin Menon             VK Sharma
1094  1426312   2024    Chennai  2024-05-26        Final         MA Starc              MA Chidambaram Stadium, Chepauk, Chennai          Sunrisers Hyderabad  Kolkata Knight Riders  Sunrisers Hyderabad           bat  Kolkata Knight Riders  wickets            8.0        114.0          20.0          N    NaN          J Madanagopal           Nitin Menon

In [7]:
mdf = mdf.rename(columns={'id':'match_id'})

In [8]:
comb=pd.merge(df,mdf,on = 'match_id',how ='left')

In [9]:
comb.head()

   match_id  inning           batting_team                 bowling_team  over  ball      batsman   bowler  non_striker  runs_of_bat  extra_runs  total_runs extras_type  is_wicket player_dismissed dismissal_kind fielder   season       city        date match_type player_of_match                  venue                        team1                  team2                  toss_winner toss_decision                 winner result  result_margin  target_runs  target_overs super_over method    umpire1      umpire2
0    335982       1  Kolkata Knight Riders  Royal Challengers Bangalore     0     1   SC Ganguly  P Kumar  BB McCullum            0           1           1     legbyes          0              NaN            NaN     NaN  2007/08  Bangalore  2008-04-18     League     BB McCullum  M Chinnaswamy Stadium  Royal Challengers Bangalore  Kolkata Knight Riders  Royal Challengers Bangalore         field  Kolkata Knight Riders   runs          140.0        223.0          20.0          N    NaN  Asad Rauf  RE Koertzen
1    335982       1  Kolkata Knight Riders  Royal Challengers Bangalore     0     2  BB McCullum  P Kumar   SC Ganguly            0           0           0         NaN          0              NaN            NaN     NaN  2007/08  Bangalore  2008-04-18     League     BB McCullum  M Chinnaswamy Stadium  Royal Challengers Bangalore  Kolkata Knight Riders  Royal Challengers Bangalore         field  Kolkata Knight Riders   runs          140.0        223.0          20.0          N    NaN  Asad Rauf  RE Koertzen
2    335982       1  Kolkata Knight Riders  Royal Challengers Bangalore     0     3  BB McCullum  P Kumar   SC Ganguly            0           1           1       wides          0              NaN            NaN     NaN  2007/08  Bangalore  2008-04-18     League     BB McCullum  M Chinnaswamy Stadium  Royal Challengers Bangalore  Kolkata Knight Riders  Royal Challengers Bangalore         field  Kolkata Knight Riders   runs          140.0        223.0          20.0          N    NaN  Asad Rauf  RE Koertzen
3    335982       1  Kolkata Knight Riders  Royal Challengers Bangalore     0     4  BB McCullum  P Kumar   SC Ganguly            0           0           0         NaN          0              NaN            NaN     NaN  2007/08  Bangalore  2008-04-18     League     BB McCullum  M Chinnaswamy Stadium  Royal Challengers Bangalore  Kolkata Knight Riders  Royal Challengers Bangalore         field  Kolkata Knight Riders   runs          140.0        223.0          20.0          N    NaN  Asad Rauf  RE Koertzen
4    335982       1  Kolkata Knight Riders  Royal Challengers Bangalore     0     5  BB McCullum  P Kumar   SC Ganguly            0           0           0         NaN          0              NaN            NaN     NaN  2007/08  Bangalore  2008-04-18     League     BB McCullum  M Chinnaswamy Stadium  Royal Challengers Bangalore  Kolkata Knight Riders  Royal Challengers Bangalore         field  Kolkata Knight Riders   runs          140.0        223.0          20.0          N    NaN  Asad Rauf  RE Koertzen

In [10]:
def ByInnings(df,current_innings):
    
    df = df[df.innings == current_innings]
    df.reset_index(inplace = True,drop = True)
    
    df['isDot'] = df['runs_of_bat'].apply(lambda x: 1 if x == 0 else 0)
    df['isOne'] = df['runs_of_bat'].apply(lambda x: 1 if x == 1 else 0)
    df['isTwo'] = df['runs_of_bat'].apply(lambda x: 1 if x == 2 else 0)
    df['isThree'] = df['runs_of_bat'].apply(lambda x: 1 if x == 3 else 0)
    df['isFour'] = df['runs_of_bat'].apply(lambda x: 1 if x == 4 else 0)
    df['isSix'] = df['runs_of_bat'].apply(lambda x: 1 if x == 6 else 0)
    
    runs = pd.DataFrame(df.groupby(['batsman'])['runs_of_bat'].sum()).reset_index().rename(columns={'runs_of_bat':'runs'})
    innings = pd.DataFrame(df.groupby(['batsman'])['match_id'].apply(lambda x: len(list(np.unique(x))))).reset_index().rename(columns={'match_id':'innings'})
    balls = pd.DataFrame(df.groupby(['batsman'])['match_id'].count()).reset_index().rename(columns={'match_id':'balls'})
    dismissals = pd.DataFrame(df.groupby(['batsman'])['player_dismissed'].count()).reset_index().rename(columns={'player_dismissed':'dismissals'})
    sixes = pd.DataFrame(df.groupby(['batsman'])['isSix'].sum()).reset_index().rename(columns = {'isSix':'sixes'})
    fours = pd.DataFrame(df.groupby(['batsman'])['isFour'].sum()).reset_index().rename(columns = {'isFour':'fours'})
    
    df = pd.merge(innings,runs,on = 'batsman').merge( balls, on = 'batsman').merge( dismissals, on = 'batsman').merge( fours, on = 'batsman').merge( sixes, on = 'batsman')
    df['RPI'] =df.apply(lambda x: (x['runs']/x['innings']),axis = 1)
    return df

In [11]:
#comb=pd.merge(df,mdf,on = 'match_id',how ='left')

In [12]:
def balls_per_dismissal(balls, dismissals):
    if dismissals > 0:
        return balls/dismissals
    else:
        return balls/1 
    
def balls_per_boundary(balls, boundaries):
    if boundaries > 0:
        return balls/boundaries
    else:
        return balls/1

In [13]:
def ByCustom(df, current_venue, current_phase, current_opposition):
    
    df = df[df.venue == current_venue]
    df = df[df.phase == current_phase]
    df = df[df.bowling_team == current_opposition]
   
  
    df.reset_index(inplace = True,drop = True)
    
    df['isDot'] = df['runs_of_bat'].apply(lambda x: 1 if x == 0 else 0)
    df['isOne'] = df['runs_of_bat'].apply(lambda x: 1 if x == 1 else 0)
    df['isTwo'] = df['runs_of_bat'].apply(lambda x: 1 if x == 2 else 0)
    df['isThree'] = df['runs_of_bat'].apply(lambda x: 1 if x == 3 else 0)
    df['isFour'] = df['runs_of_bat'].apply(lambda x: 1 if x == 4 else 0)
    df['isSix'] = df['runs_of_bat'].apply(lambda x: 1 if x == 6 else 0)
    
    runs = pd.DataFrame(df.groupby(['batsman'])['runs_of_bat'].sum()).reset_index().rename(columns={'runs_of_bat':'runs'})
    innings = pd.DataFrame(df.groupby(['batsman'])['match_id'].apply(lambda x: len(list(np.unique(x))))).reset_index().rename(columns={'match_id':'innings'})
    balls = pd.DataFrame(df.groupby(['batsman'])['match_id'].count()).reset_index().rename(columns={'match_id':'balls'})
    dismissals = pd.DataFrame(df.groupby(['batsman'])['player_dismissed'].count()).reset_index().rename(columns={'player_dismissed':'dismissals'})
    sixes = pd.DataFrame(df.groupby(['batsman'])['isSix'].sum()).reset_index().rename(columns = {'isSix':'sixes'})
    fours = pd.DataFrame(df.groupby(['batsman'])['isFour'].sum()).reset_index().rename(columns = {'isFour':'fours'})

    dots = pd.DataFrame(df.groupby(['batsman'])['isDot'].sum()).reset_index().rename(columns = {'isDot':'dots'})

    
    df = pd.merge(innings,runs,on = 'batsman').merge( balls, on = 'batsman').merge( dismissals, on = 'batsman').merge( fours, on = 'batsman').merge( sixes, on = 'batsman').merge( dots, on = 'batsman')
    df['RPI'] = df.apply(lambda x: x['runs']/x['innings'], axis = 1)
    df['SR'] = df.apply(lambda x: 100*(x['runs']/x['balls']),axis = 1)
    df['BPD'] = df.apply(lambda x: balls_per_dismissal(x['balls'], x['dismissals']), axis = 1)
    df['BPB'] = df.apply(lambda x: balls_per_boundary(x['balls'], (x['fours'] + x['sixes'])), axis = 1)

    df['dot_percentage'] = df.apply(lambda x: x['dots']/x['balls'], axis = 1)

    return df

In [14]:
def get_phase(over_no):
    if over_no < 6:
        return'PowerPlay'
        
    elif over_no < 15:
        return'Middle Over'
    else:
        return'Death Over'

In [15]:
comb['phase'] = comb['over'].apply(lambda x: get_phase(x))

In [16]:
comb.head(1)

   match_id  inning           batting_team                 bowling_team  over  ball     batsman   bowler  non_striker  runs_of_bat  extra_runs  total_runs extras_type  is_wicket player_dismissed dismissal_kind fielder   season       city        date match_type player_of_match                  venue                        team1                  team2                  toss_winner toss_decision                 winner result  result_margin  target_runs  target_overs super_over method    umpire1      umpire2      phase
0    335982       1  Kolkata Knight Riders  Royal Challengers Bangalore     0     1  SC Ganguly  P Kumar  BB McCullum            0           1           1     legbyes          0              NaN            NaN     NaN  2007/08  Bangalore  2008-04-18     League     BB McCullum  M Chinnaswamy Stadium  Royal Challengers Bangalore  Kolkata Knight Riders  Royal Challengers Bangalore         field  Kolkata Knight Riders   runs          140.0        223.0          20.0          N    NaN  Asad Rauf  RE Koertzen  PowerPlay

In [17]:
df = ByCustom(comb ,'Rajiv Gandhi International Stadium, Uppal, Hyderabad','PowerPlay','Sunrisers Hyderabad')

In [18]:
from fuzzywuzzy import process
import pandas as pd


# List of batsmen names you want to filter
batsmen_list = ['YBK Jaiswal', 'V Kohli', 'F du Plessis']

# Define a function for fuzzy filtering
def fuzzy_filter(df, column_name, names_list):
    # Get unique values from the column
    unique_values = df[column_name].unique()

    # Find the best matches for each name in the list
    matched_names = []
    for name in names_list:
        match = process.extractOne(name, unique_values)
        if match and match[1] > 80:  # Threshold for fuzzy matching
            matched_names.append(match[0])

    # Filter the DataFrame for the matched names
    return df[df[column_name].isin(matched_names)]

# Apply fuzzy filtering and sort by runs
filtered_df = fuzzy_filter(df, 'batsman', batsmen_list).sort_values(by='runs', ascending=False)

# Display the filtered DataFrame
print(filtered_df)

         batsman  innings  runs  balls  dismissals  fours  sixes  dots   RPI          SR   BPD       BPB  dot_percentage
35   YBK Jaiswal        2    62     32           0     11      1    12  31.0  193.750000  32.0  2.666667        0.375000
32       V Kohli        2    61     38           0     10      1    13  30.5  160.526316  38.0  3.454545        0.342105
4   F du Plessis        2    59     29           1      7      2     5  29.5  203.448276  29.0  3.222222        0.172414

In [19]:
df.sort_values(by='runs', ascending=False).head(10)

           batsman  innings  runs  balls  dismissals  fours  sixes  dots   RPI          SR   BPD       BPB  dot_percentage
35     YBK Jaiswal        2    62     32           0     11      1    12  31.0  193.750000  32.0  2.666667        0.375000
32         V Kohli        2    61     38           0     10      1    13  30.5  160.526316  38.0  3.454545        0.342105
4     F du Plessis        2    59     29           1      7      2     5  29.5  203.448276  29.0  3.222222        0.172414
5     Ishan Kishan        2    55     27           1      3      6    12  27.5  203.703704  27.0  3.000000        0.444444
6       JC Buttler        2    54     23           2      7      3     8  27.0  234.782609  11.5  2.300000        0.347826
24       RG Sharma        2    54     31           2      7      3    14  27.0  174.193548  15.5  3.100000        0.451613
17  P Simran Singh        2    33     20           1      5      1     8  16.5  165.000000  20.0  3.333333        0.400000
1    Atharva Taide        1    27     17           0      3      1     6  27.0  158.823529  17.0  4.250000        0.352941
21         R Parag        1    25     17           0      4      1     9  25.0  147.058824  17.0  3.400000        0.529412
13        MR Marsh        1    25     15           1      5      0     7  25.0  166.666667  15.0  3.000000        0.466667

In [20]:
df = ByCustom(comb ,'Rajiv Gandhi International Stadium, Uppal, Hyderabad', 'Death Over','Sunrisers Hyderabad')

In [21]:
df.sort_values(by='runs', ascending=False).head()

      batsman  innings  runs  balls  dismissals  fours  sixes  dots   RPI          SR   BPD       BPB  dot_percentage
22   N Pooran        2    74     28           0      8      4     3  37.0  264.285714  28.0  2.333333        0.107143
5     C Green        2    59     28           1      8      1     2  29.5  210.714286  28.0  3.111111        0.071429
40   TH David        2    56     32           0      4      3     7  28.0  175.000000  32.0  4.571429        0.218750
32   S Dhawan        1    52     29           0      4      5    15  52.0  179.310345  29.0  3.222222        0.517241
13  JM Sharma        1    32     16           0      2      2     3  32.0  200.000000  16.0  4.000000        0.187500

In [22]:
comb['venue'].unique()

array(['M Chinnaswamy Stadium',
       'Punjab Cricket Association Stadium, Mohali', 'Feroz Shah Kotla',
       'Wankhede Stadium', 'Eden Gardens', 'Sawai Mansingh Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'MA Chidambaram Stadium, Chepauk', 'Dr DY Patil Sports Academy',
       'Newlands', "St George's Park", 'Kingsmead', 'SuperSport Park',
       'Buffalo Park', 'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera', 'Barabati Stadium',
       'Brabourne Stadium, Mumbai',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
       'Holkar Cricket Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Subrata Roy Sahara Stadium',
       'Maharashtra Cricket Association Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Saurashtra Cricket Association Stadium', 'Green Park',
       'M.Chinnaswamy Stadium',
       'Punjab Cricket Association IS Bindra Stadium',
       'Rajiv Gandhi International Stadium', 'MA Chidambaram Stadium',
       'Arun Jaitley Stadium', 'MA Chidambaram Stadium, Chepauk, Chennai',
       'Wankhede Stadium, Mumbai', 'Narendra Modi Stadium, Ahmedabad',
       'Arun Jaitley Stadium, Delhi', 'Zayed Cricket Stadium, Abu Dhabi',
       'Dr DY Patil Sports Academy, Mumbai',
       'Maharashtra Cricket Association Stadium, Pune',
       'Eden Gardens, Kolkata',
       'Punjab Cricket Association IS Bindra Stadium, Mohali, Chandigarh',
       'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow',
       'Rajiv Gandhi International Stadium, Uppal, Hyderabad',
       'M Chinnaswamy Stadium, Bengaluru',
       'Barsapara Cricket Stadium, Guwahati',
       'Sawai Mansingh Stadium, Jaipur',
       'Himachal Pradesh Cricket Association Stadium, Dharamsala',
       'Maharaja Yadavindra Singh International Cricket Stadium, Mullanpur',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium, Visakhapatnam'],
      dtype=object)

In [23]:
comb['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [24]:
def ByVenueAndOpposition(df, current_venue, current_opposition):
    
    # Filter by venue and opposition only (removed phase filter)
    df = df[df.venue == current_venue]
    df = df[df.bowling_team == current_opposition]
   
    df.reset_index(inplace = True, drop = True)
    
    # Create binary indicators for different run outcomes
    df['isDot'] = df['runs_of_bat'].apply(lambda x: 1 if x == 0 else 0)
    df['isOne'] = df['runs_of_bat'].apply(lambda x: 1 if x == 1 else 0)
    df['isTwo'] = df['runs_of_bat'].apply(lambda x: 1 if x == 2 else 0)
    df['isThree'] = df['runs_of_bat'].apply(lambda x: 1 if x == 3 else 0)
    df['isFour'] = df['runs_of_bat'].apply(lambda x: 1 if x == 4 else 0)
    df['isSix'] = df['runs_of_bat'].apply(lambda x: 1 if x == 6 else 0)
    
    # Aggregate statistics by batsman
    runs = pd.DataFrame(df.groupby(['batsman'])['runs_of_bat'].sum()).reset_index().rename(columns={'runs_of_bat':'runs'})
    innings = pd.DataFrame(df.groupby(['batsman'])['match_id'].apply(lambda x: len(list(np.unique(x))))).reset_index().rename(columns={'match_id':'innings'})
    balls = pd.DataFrame(df.groupby(['batsman'])['match_id'].count()).reset_index().rename(columns={'match_id':'balls'})
    dismissals = pd.DataFrame(df.groupby(['batsman'])['player_dismissed'].count()).reset_index().rename(columns={'player_dismissed':'dismissals'})
    sixes = pd.DataFrame(df.groupby(['batsman'])['isSix'].sum()).reset_index().rename(columns = {'isSix':'sixes'})
    fours = pd.DataFrame(df.groupby(['batsman'])['isFour'].sum()).reset_index().rename(columns = {'isFour':'fours'})
    dots = pd.DataFrame(df.groupby(['batsman'])['isDot'].sum()).reset_index().rename(columns = {'isDot':'dots'})
    
    # Merge all statistics into a single DataFrame
    df = pd.merge(innings,runs,on = 'batsman').merge(balls, on = 'batsman').merge(dismissals, on = 'batsman').merge(fours, on = 'batsman').merge(sixes, on = 'batsman').merge(dots, on = 'batsman')
    
    # Calculate performance metrics
    df['RPI'] = df.apply(lambda x: x['runs']/x['innings'], axis = 1)
    df['SR'] = df.apply(lambda x: 100*(x['runs']/x['balls']),axis = 1)
    df['BPD'] = df.apply(lambda x: balls_per_dismissal(x['balls'], x['dismissals']), axis = 1)
    df['BPB'] = df.apply(lambda x: balls_per_boundary(x['balls'], (x['fours'] + x['sixes'])), axis = 1)
    df['dot_percentage'] = df.apply(lambda x: x['dots']/x['balls'], axis = 1)

    return df

In [25]:
# Example usage
df = ByVenueAndOpposition(comb,'MA Chidambaram Stadium, Chepauk, Chennai','Chennai Super Kings')
df.sort_values(by='runs', ascending=False).head()

       batsman  innings  runs  balls  dismissals  fours  sixes  dots   RPI          SR   BPD        BPB  dot_percentage
52  MP Stoinis        2   145     83           1     13      7    18  72.5  174.698795  83.0   4.150000        0.216867
72  RR Rossouw        2    78     62           2      7      3    23  39.0  125.806452  31.0   6.200000        0.370968
31  JC Buttler        2    73     63           2      3      3    18  36.5  115.873016  31.5  10.500000        0.285714
55    N Pooran        2    66     33           2      5      5     8  33.0  200.000000  16.5   3.300000        0.242424
57   N Wadhera        1    64     51           1      8      1    18  64.0  125.490196  51.0   5.666667        0.352941

In [26]:
from fuzzywuzzy import process

def ByVenueOnly(df, venue_names, threshold=85):
    """
    Modified to accept multiple venue names with fuzzy matching
    """
    # Get unique venue names from DataFrame
    unique_venues = df['venue'].unique()
    
    # Find matching venues using fuzzy logic
    matched_venues = []
    unmatched_venues = []
    
    if isinstance(venue_names, str):
        venue_names = [venue_names]  # Convert single string to list
        
    for venue in venue_names:
        match = process.extractOne(venue, unique_venues)
        if match and match[1] >= threshold:
            matched_venues.append(match[0])
        else:
            unmatched_venues.append(venue)
    
    # Print warnings for unmatched venues
    if unmatched_venues:
        print(f"No matches found for venues: {', '.join(unmatched_venues)} (threshold: {threshold})")
    
    # Filter DataFrame by matched venues
    df = df[df['venue'].isin(matched_venues)]
    
    # Rest of your original processing
    df.reset_index(inplace=True, drop=True)
    
    # Create binary indicators for different run outcomes
    df['isDot'] = df['runs_of_bat'].apply(lambda x: 1 if x == 0 else 0)
    df['isOne'] = df['runs_of_bat'].apply(lambda x: 1 if x == 1 else 0)
    df['isTwo'] = df['runs_of_bat'].apply(lambda x: 1 if x == 2 else 0)
    df['isThree'] = df['runs_of_bat'].apply(lambda x: 1 if x == 3 else 0)
    df['isFour'] = df['runs_of_bat'].apply(lambda x: 1 if x == 4 else 0)
    df['isSix'] = df['runs_of_bat'].apply(lambda x: 1 if x == 6 else 0)
    
    # Aggregate statistics by batsman
    runs = pd.DataFrame(df.groupby(['batsman'])['runs_of_bat'].sum()).reset_index().rename(columns={'runs_of_bat': 'runs'})
    innings = pd.DataFrame(df.groupby(['batsman'])['match_id'].apply(lambda x: len(list(np.unique(x))))).reset_index().rename(columns={'match_id': 'innings'})
    balls = pd.DataFrame(df.groupby(['batsman'])['match_id'].count()).reset_index().rename(columns={'match_id': 'balls'})
    dismissals = pd.DataFrame(df.groupby(['batsman'])['player_dismissed'].count()).reset_index().rename(columns={'player_dismissed': 'dismissals'})
    sixes = pd.DataFrame(df.groupby(['batsman'])['isSix'].sum()).reset_index().rename(columns={'isSix': 'sixes'})
    fours = pd.DataFrame(df.groupby(['batsman'])['isFour'].sum()).reset_index().rename(columns={'isFour': 'fours'})
    dots = pd.DataFrame(df.groupby(['batsman'])['isDot'].sum()).reset_index().rename(columns={'isDot': 'dots'})
    
    # Merge all statistics into a single DataFrame
    df = pd.merge(innings, runs, on='batsman').merge(balls, on='batsman').merge(dismissals, on='batsman').merge(fours, on='batsman').merge(sixes, on='batsman').merge(dots, on='batsman')
    
    # Calculate performance metrics
    df['RPI'] = df.apply(lambda x: x['runs'] / x['innings'], axis=1)
    df['SR'] = df.apply(lambda x: 100 * (x['runs'] / x['balls']), axis=1)
    df['BPD'] = df.apply(lambda x: balls_per_dismissal(x['balls'], x['dismissals']), axis=1)
    df['BPB'] = df.apply(lambda x: balls_per_boundary(x['balls'], (x['fours'] + x['sixes'])), axis=1)
    df['dot_percentage'] = df.apply(lambda x: x['dots'] / x['balls'], axis=1)

    return df

In [27]:
df = ByVenueOnly(comb, ['Arun Jaitley Stadium', 'Arun Jaitley Stadium, Delhi'])

In [71]:
from fuzzywuzzy import process
import pandas as pd

# Define a function for fuzzy filtering
def fuzzy_filter(df, column_name, names_list, threshold=70):
    # Get unique values from the column
    unique_values = df[column_name].unique()

    # Find the best matches for each name in the list
    matched_names = []
    unmatched_names = []  # To track names that don't match

    for name in names_list:
        match = process.extractOne(name, unique_values)
        if match and match[1] >= threshold:  # Threshold for fuzzy matching
            matched_names.append(match[0])  # Append only the matched name
        else:
            unmatched_names.append(name)  # Append unmatched name

    # Print unmatched batsmen names
    if unmatched_names:
        print(f"No matching data found for the following batsmen: {', '.join(unmatched_names)}")

    # Filter the DataFrame for the matched names
    return df[df[column_name].isin(matched_names)]

# Example usage
# Assuming 'df' is your DataFrame and has a column named 'batsman'
batsmen_list = [
   'Faf du Plessis', 'Jake Fraser-McGurk', 'Abishek Porel', 
    'Karun Nair', 'KL Rahul', 'Tristan Stubbs', 
    'Ashutosh Sharma', 'Axar Patel', 'Vipraj Nigam', 
    'Mitchell Starc','S Samson', 'Y Jaiswal', 'Nitish Rana', 
    'Riyan Parag', 'D Jurel', 'SM Hetmyer', 
    'Wanindu Hasaranga', 'J Archer', 'Maheesh Theekshana'
]

# Apply fuzzy filtering and sort by runs
filtered_df = fuzzy_filter(df, 'batsman', batsmen_list).sort_values(by='RPI', ascending=False)

# Display the filtered DataFrame
#print(filtered_df)

No matching data found for the following batsmen: Vipraj Nigam, Mitchell Starc, D Jurel, SM Hetmyer, Wanindu Hasaranga, Maheesh Theekshana

In [72]:
filtered_df

             batsman  innings  runs  balls  dismissals  fours  sixes  dots        RPI          SR        BPD       BPB  dot_percentage
46      F du Plessis        3   151     99           3     13      6    24  50.333333  152.525253  33.000000  5.210526        0.242424
60   J Fraser-McGurk        5   222     86           5     25     18    30  44.400000  258.139535  17.200000  2.000000        0.348837
16     Abishek Porel        6   222    137           7     22     11    49  37.000000  162.043796  19.571429  4.151515        0.357664
143        SV Samson        5   184    129           5     17      8    41  36.800000  142.635659  25.800000  5.160000        0.317829
150         T Stubbs        5   182     92           2     15     11    20  36.400000  197.826087  46.000000  3.538462        0.217391
72           KK Nair        1    34     33           1      4      0    12  34.000000  103.030303  33.000000  8.250000        0.363636
113          R Parag        4   100     91           2      6      6    43  25.000000  109.890110  45.500000  7.583333        0.472527
11          AR Patel       18   350    239          10     23     21    79  19.444444  146.443515  23.900000  5.431818        0.330544
162      YBK Jaiswal        3    48     35           3      5      2    14  16.000000  137.142857  11.666667  5.000000        0.400000
73          KL Rahul        3    40     27           3      5      2    12  13.333333  148.148148   9.000000  3.857143        0.444444
66         JM Sharma        1     5      5           1      1      0     3   5.000000  100.000000   5.000000  5.000000        0.600000
98            N Rana        3    13     16           3      2      0     9   4.333333   81.250000   5.333333  8.000000        0.562500